
.nav-link{
color: #333333;
}



.container{
   max-width: 1140px !important;
}

#quem-somos, #contato{
   margin-top: 100px;
   
   
   
}




.bg-services{
   background-image:url(../odontorio/img/background-1.png);
   background-size: cover;
   }



div{
   scroll-margin-top: 80px;
   
}



textarea{
   resize: none;
}



#carouselExampleIndicators{
margin-top: 90px;
}